includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - config
        - tests
        - routes

    ignoreErrors:
        # Mixed issues
        - '#Parameter (.*) expects (.*), mixed given.#'
        - '#Cannot access offset (.*) on mixed.#'

        # Mockery causes issues
        - '#Call to an undefined method Mockery\\(.*).#'

        - identifier: missingType.iterableValue
        - identifier: missingType.generics
