<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <file>app/Providers/AppServiceProvider.php</file>
            <file>app/Providers/FortifyServiceProvider.php</file>
            <file>app/Providers/HorizonServiceProvider.php</file>
            <file>app/Providers/RouteServiceProvider.php</file>
        </exclude>
    </source>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_DEBUG" value="true"/>
        <server name="DEBUGBAR_ENABLED" value="false"/>
        <server name="CACHE_STORE" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="BCRYPT_ROUNDS" value="4"/>

        <server name="ALLOW_SIGNUP" value="true"/>
        <server name="APP_KEY" value="base64:nkI3QCNcgUCBa1lKT8XrhKiiESO7cf8a88wRlfLTxss="/>
        <server name="APP_URL" value="http://johanvanhelden.localtest.me"/>
    </php>
</phpunit>
